
@media only screen and (max-width: 992px) {

.container{
  border: 1px solid black;
  top: 25%;
  max-width: 90%;
  
}
  
.detail-img{
    
}

.discription{
 
  text-align: center;
}


}
