

/* Covers all mobile phones */

    body{
      background-color: white;
      /* display: flex; */
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
        padding-bottom: 60px; /* approx height of your footer */


    }

/* ---------------------------------------------------------Navbar ------------------------------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #333; */
  color: black;
  padding: 10px 20px;
}

.header {
    display: flex;
    justify-content: space-between; /* keeps h1 left + hamburger right */
    align-items: center;            /* vertical alignment */
    padding: 15px 20px;
}

.header h1 {
   font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        margin: 0;
}

.hamburger {
    cursor: pointer;

  display: inline-block;
  width: 30px;
  height: 22px;
  position: relative;
}

.hamburger span {
    display: block;
    height: 4px;
    background: black;
    margin: 5px 0;
}
.menu {
  display: none;
  flex-direction: column;
 
  background: white;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;
}

.menu a {
  /* color: #fff; */
  color: black;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.menu a:hover {
  color: blue;
}

/* Show menu when active */
.menu.active {
   display: flex;         /* hidden by default */
  position: fixed;       /* covers entire screen */
  top: 0;
  left: 0;
  width: 100vw;          /* full width */
  height: 100vh;         /* full height */
  background: white; /* semi-transparent black */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 25px;
}
    /* --------------------------------------------------------- Navbar end --------------------------------------- */

/* ------------------------------------------------------master page img ---------------------------------------------*/
.master-page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 10px;
    padding: 0 20px;

}

.master-img-container{
    width: 90px;
    height: 90px;
    border-radius: 1px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.social-footer{
 position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  text-align: center;
  z-index: 1000;
}
.social-footer a {
    color: black;              /* icon color */
    font-size: 24px;           /* icon size */
    text-decoration: none;
    transition: color 0.3s;
}

.social-footer a:hover {
    color: #0077ff;            /* change color on hover */
}

/*
/* Tablet, laptop, monitor separately in one media query (comma = OR) */
@media (min-width: 768px) and (max-width: 1024px),   /* Tablet */
       (min-width: 1025px) and (max-width: 1440px),  /* Laptop */
       (min-width: 1441px)                           /* Large monitor */
{
  .header {
    width: 980px;
    height: 50px;
    background-color:white; /* optional, just to see the div */
    border: 2px solid #333;     /* optional border */
    margin: 20px auto;           /* center horizontally with some top/bottom margin */
    display: flex;               /* optional, if you want to align content */
    justify-content: space-between;     /* horizontal center */
    align-items: center;         /* vertical center */

}

.header h1 {
   font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
}


}
