
/* Covers all mobile phones */
@media only screen and (max-width: 992px) {
    body{
        background-color: white;
    }

/* ---------------------------------------------------------Navbar ------------------------------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #333; */
  color: black;
  padding: 10px 20px;
}

.header {
    display: flex;
    justify-content: space-between; /* keeps h1 left + hamburger right */
    align-items: center;            /* vertical alignment */
    padding: 15px 20px;
}

.header h1 {
   font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        margin: 0;
}

.hamburger {
    cursor: pointer;

  display: inline-block;
  width: 30px;
  height: 22px;
  position: relative;
}

.hamburger span {
    display: block;
    height: 4px;
    background: black;
    margin: 5px 0;
}
.menu {
  display: none;
  flex-direction: column;
 
  background: white;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;
}

.menu a {
  /* color: #fff; */
  color: black;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.menu a:hover {
  /* background: #555; */
  color: blue;
}

/* Show menu when active */
.menu.active {
  display: flex;
}
    /* --------------------------------------------------------- Navbar end --------------------------------------- */

/* ------------------------------------------------------master page img ---------------------------------------------*/
.master-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-top: 10px;
    padding: 0 20px;
}

.master-img-container{
    max-width: 100%;
    height: 100%;
    border-radius: 1px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}
/* .master-img-container-normal{
  filter: none;
} */

/*close tag */
}

